html {
    background-color: black;
}

#mainCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90vw;
    height: calc(90vw / 16 * 9);
}

@media (min-aspect-ratio:16/9) {
    #mainCanvas {
        height: 90vh;
        width: calc(90vh / 9 * 16);
    }
}