html {
	background-color: black;
	overflow: hidden;
}

#mainCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	background-color: white;
}



#btn-host {
	position: fixed;
	background-color: white;
	color: red;
	font-size: 16px;
	top: 10px;
	left: 10px;
}
#btn-connect {
	position: fixed;
	background-color: white;
	color: blue;
	font-size: 16px;
	top: 50px;
	left: 10px;
}
#btn-refresh {
	position: fixed;
	background-color: white;
	color: green;
	font-size: 16px;
	top: 30px;
	left: 10px;
}